#game-index {
  p {
    margin-left: 8px;
    margin-bottom: 4px;
  }

  .game-hour {
    display: flex;
    position: relative;

    p {
      display: inline-block;
    }
  }

  .game-location {
    display: flex;

    p {
      display: inline-block;
    }
  }

  .game-date {
    display: flex;

    p {
      display: inline-block;
    }
  }

  .game-details {
    position: absolute;
    bottom: 32px;
    right: 32px;
  }
}

#cardwhite {
  background-color: #FFFFFF;
  border: 1px solid black;
}

#btnblk {
  border-radius: 20px;
  background-color: #ff1e00;
  color: #FFFFFF !important;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  border: 1px solid #FFFFFF;

  &:hover {
    background-color: #ffffff;
    color: #FF1e00 !important;
    border: 1px solid #FF1e00;
  }
}
