// Specific CSS for your home-page
@import "bootstrap.min";
@import url("https://fonts.googleapis.com/css2?family=Carter+One&display=swap");

#carousel {
  background: rgb(235, 189, 189);
  background: radial-gradient(
    circle,
    rgba(73, 125, 236, 0.335) 0%,
    rgba(33, 142, 214, 0.722) 33%,
    rgb(2, 65, 107) 90%
  );
  position: relative;
  height: 70vh;
  z-index: 2;
  .carousel-inner {
    overflow: visible;
  }
  .hero-img {
    position: relative;
    display: block;
    margin: 0 auto;
    height: 60vh;
    -webkit-filter: drop-shadow(30px 5px 5px rgba(0, 0, 0, 0.3));
    filter: drop-shadow(30px 5px 5px rgba(0, 0, 0, 0.3));
    transition: all 0.5s ease-in-out;
    z-index: 3;
    animation-duration: 5s;
    animation-iteration-count: 1;
  }
  .hero-img:hover {
    transform: scale(1.1);
    -webkit-filter: drop-shadow(40px 15px 10px rgba(0, 0, 0, 0.3));
    filter: drop-shadow(40px 15px 10px rgba(0, 0, 0, 0.3));
  }
  .hero-fix {
    position: absolute;
    width: 100%;
  }
  .hero-text {
    position: absolute;
    z-index: 1;
    height: 60vh;
    width: 25%;
    top: 10vh;
    left: 10%;
    h3 {
      font-family: "Carter One", cursive;
      font-size: 3em;
      color: #fff;
      padding-bottom: 16px;
      border-bottom: 5px solid rgba(173, 12, 26, 0.918);
    }
    h5 {
      font-size: 2em;
      text-shadow: 0 0 5px white;
      font-weight: 900;
    }
  }
  .cta-btn-right {
    top: 60vh;
    right: 10%;
    position: absolute;
    p {
      text-shadow: 2px 2px 5px white;
      font-family: "Carter One", cursive;
      font-size: 1.2em;
      top: -5vh;
      color: rgb(32, 32, 32);
      position: relative;
    }
    a {
      border: 1px solid black;
      z-index: 6;
      position: relative;
      font-family: "Carter One", cursive;
      font-size: large;
      text-decoration: none;
      padding: 16px 32px;
      border-radius: 8px;
      background-color: rgb(252, 252, 252);
      color: rgb(5, 5, 5);
      transition: all 0.5s ease-in-out;
    }
    a:hover {
      transform: scale(1.5);
      color: #fff;
      background-color: black;
    }
  }
  .cta-btn-left {
    p {
      text-shadow: 2px 2px 5px white;
      font-family: "Carter One", cursive;
      font-size: 1.2em;
      top: -5vh;
      color: rgb(32, 32, 32);
      position: relative;
    }
    a {
      border: 1px solid black;
      z-index: 6;
      position: relative;
      font-family: "Carter One", cursive;
      font-size: large;
      text-decoration: none;
      padding: 16px 32px;
      border-radius: 8px;
      color: rgb(5, 5, 5);
      background-color: #fff;
      transition: all 0.5s ease-in-out;
    }
    a:hover {
      transform: scale(1.5);
      color: #fff;
      background-color: black;
    }
    top: 60vh;
    left: 10%;
    position: absolute;
  }
  .move {
    animation-name: move;
    animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
  }
  @keyframes move {
    0% {
      transform: scale(0.3, 0.3) translateY(100px);
    }
    10% {
      transform: scale(0.5, 0.5) translateY(80px);
    }
    50% {
      transform: scale(0.9, 0.9) translateY(20px);
    }
    57% {
      transform: scale(1, 1) translateY(-10px);
    }
    64% {
      transform: scale(1.4, 1.4) translateY(5px);
    }
    100% {
      transform: scale(1, 1) translateY(0);
    }
  }
}

#about {
  .about-image {
    margin-top: 64px;
  }
}

main {
  min-height: 85vh;
}
