.new-game-container {
  background-color: #CBCDCC;
  border-radius: 8px;
  box-shadow: 4px 4px 8px rgba($color: #000000, $alpha: .2);
  margin-top: 64px;
  padding: 64px;
  input {
    margin-bottom: 16px;
  }

  h2 {
    text-align: center;

  }

  input[type="submit"] {
    margin: 0 auto;
    display: block;
  }
}

.new-game-title {
  text-align: center;
  color: black;
  margin-top: 12px;

}

#newloc {
  background-color: #96A3B0;
  text-align: center;
  border-radius: 8px;
  padding: 2px 4px;
  color: black;
  cursor: pointer;
  &:hover {
    background-color: #303F4A;
    color: white;
  }
  padding: 16px 24px;
  i {
    font-size: 16px;
  }
}

.icon {
  padding: 4px;
  margin-top: 48px;
}
