<div class="footer">
  <div class="footer-links pl-300px">
  <p>Copyright © 2022 LETSSPORTS. All Rights Reserved.</p>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
  <div class="footerx">
    Email : contact@letssports.com <br>
Telephone    : 05 23 44 62 34
  </div>
</div>
