 <footer>
      <div class = "container">
        <div class = "row">
          <div class="col text-center py-3">Made with <i class="fa fa-heart pulse"></i> by The Bad Batch#837 </div>
        </div>
      </div>
    </footer>
