
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <h2 class="titre2"><strong>Les retours de nos utilisateurs</strong></h2>
                        <div class="carousel-item active">
                            <div class="row">
                              <div class="feedback">
                              <%= image_tag "https://kitt.lewagon.com/placeholder/users/karimce", class: "avatar-large dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
                                <h4> Karim </h4>
                                <p> plus d'ennui, toujours des matches disponibles !</p>
                                <h3> <strong class="etoile">
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                      </strong>
                                </h3>
                             </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="row">
                             <div class="feedback">
                             <%= image_tag "https://kitt.lewagon.com/placeholder/users/ahmedidrissik", class: "avatar-large dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
                                <h4> Ahmed </h4>
                                <p>top comme application </p>
                                <h3> <strong class="etoile">
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                      </strong>
                                </h3>
                             </div>
                            </div>
                        </div>

                         <div class="carousel-item">
                            <div class="row">
                             <div class="feedback">
                             <%= image_tag "https://kitt.lewagon.com/placeholder/users/elazzouzimed", class: "avatar-large dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
                                <h4> Med </h4>
                                <p>parfait comme site destiné au spotif </p>
                                <h3> <strong class="etoile">
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                      </strong>
                                </h3>
                             </div>
                            </div>
                        </div>
                    </div>
                      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                      </button>
                      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                      </button>
                </div>
            </div>
        </div>
    </div>
