<main>
<div class="container">
  <div class="cotainer toto">
    <h1 class = "text-center py-3">Parties recentes</h1>
    <button type="button" class="btn btn-outline-primary game"><%= link_to "Creer une partie", new_game_path %></button>
  </div>
  <div class="row">
    <div class="card border-primary col-12 mb-3 col-sm-12">
      <div class="card-header">Date de creation</div>
        <div class="card-body">
          <h4 class="card-title">Titre de l'annonce</h4>
          <p class="card-text">Details de l'annonce</p>
          <%= link_to "Details", games_path %>
        </div>
      </div>
    </div>
  </div>
</main>
