<h1>Games show</h1>

<div class="container container-game-details">
  <div class="card border-primary col-12 mb-3 col-sm-12 container-game-details">
    <%= @game.title %>
    <%= @game.description %>
  </div>

</div>
